[core]
    pager = delta
	excludesfile = /Users/maitesin/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[user]
    name = Oscar Forner Martinez
    email = oscar.forner.martinez@gmail.com


[url "ssh://git@github.com/sketch-hq"]
	insteadOf = https://github.com/sketch-hq
