[user]
	name = Maitesin
	email = violador.de.segmentos@gmail.com
[core]
	editor = nvim 
[merge]
	tool = vimdiff
[color]
	ui = true
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	pager = true

[color "status"]
       added = green
       changed = red bold
       untracked = magenta bold

[color "branch"]
       remote = yellow
[push]
	default = simple
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = oscar.forner.martinez@gmail.com
	smtpserverport = 587
